*{
    padding: 0;
    margin: 0;
    font-family: "Inconsolata", monospace;
}
:root{
    --main-fc:#dcdcdc;
    --fc-gray:#b9b9b9;
    --main-bg-dark:#230c33;
    --main-bg-mid:#592E83;
    --main-bg-light:#9984D4;
    --main-bg-bright:#CAA8F5;
    --main-bg-last:#B27C66;
}
.conteiner{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "main main"
    "footer footer";
    grid-template-rows: 7vh 100vh 5vh;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-bg-dark);
    align-items: center;
    grid-area: nav;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: var(--main-fc);
    transition: .2s linear;
}
nav a:hover{
    scale: 1.2;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
    font-size: 20px;
    color: var(--main-fc);
    position: relative;
    cursor: pointer;
    letter-spacing: 2px;
    border: 2px solid transparent;
    transition: .2s linear;
}
nav ul li:hover{
    border-bottom: 2px solid orange;
    color: orange;
}
nav button{
    padding: 2px 5px 2px 5px;
    font-size: 20px;
    background-color: var(--main-bg-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s linear;
}
nav button:hover{
    color: orange;
    background-color: transparent;
}

main{
    padding-top: 40px;
    grid-area: main;
    background-color: var(--main-bg-mid);
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px;
    grid-template-areas:
    "i1 i1 i2"
    "i3 i4 i2";
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.item1{
    grid-area: i1;
    background-image: url(AAAAAAA.png);
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}
.item1 h1{
    color: var(--main-fc);
    letter-spacing: 2px;
}
.item1 h2{
    color: var(--fc-gray);
    padding: 10px 10px 10px 0px;
}
.item1 p{
    width: 85%;
    padding-top: 20px;
    border-top: 2px solid var(--fc-gray);
    font-size: 18px;
    color: var(--fc-gray);
}
.item1 img{
    height: 100%;
}
.item2{
    grid-area: i2;
    background-color: var(--main-bg-last);
    width: 500px;
    height: 100%;
}
.item2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item3{
    grid-area: i3;
    background-color: var(--main-bg-last);
    width: 400px;
    height: 400px;
    display: flex;
    background-image: url(vvvvvvvvv11313.png);
}
.item3 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.item4{
    grid-area: i4;
    background-color: var(--main-bg-last);
    width: 400px;
    height: 400px;
    background-image: url(asdasdasdasdasdasd.png);

}
.item4 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.item5{
    grid-area: i5;
    background-color: var(--main-bg-last);
    width: 400px;
    height: 400px;
}
footer{
    background-color: var(--main-bg-dark);
    grid-area: footer;
}